{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": 1,
    "quotes": ["error", "double"],
    "semi": "error",
    "indent": ["error", 2],
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "@typescript-eslint/no-explicit-any": ["off"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
